.about {
    background-color: #D1D3D4;
    padding: clamp(50px, 11vh, 110px) 24px;
}

.content-about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 4.5vw;
}

#me {
    width: clamp(290px, 36vw, 450px);
    height: auto;
}

.content-about-me p {
    font-size: clamp(14px, 1.2vw, 16px);
    width: 45vw;
    padding-bottom: 20px;
}

.links-about-me {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.github {
    height: 37px;
    padding: 2px 3px;
    text-decoration: none;
    border: 2px solid #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin {
    height: 37px;
    padding: 2px 3px;
    text-decoration: none;
    border: 2px solid #0A66C2;
    background-color: #0A66C2;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv {
    height: 37px;
    padding: 2px 3px;
    text-decoration: none;
    border: 2px solid #FF0000;
    background-color: #FF0000;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 940px) {
    .about-me {
        flex-wrap: wrap; 
        justify-content: space-evenly;
    }

    #me {
        margin-top: 60px;
    }

    .links-about-me {
        justify-content: center;
    }
}

@media screen and (max-width: 321px) {
    .links-about-me {
        flex-direction: column;
        width: 150px;
        margin: 0 auto;
    }
}

