

#content {
    background-color: #AF71BA;
    padding: 100px 24px;
    position: relative;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 100px;
    align-items: center;
}

.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    max-width: 726px;
    margin: 0 auto;
    color: #E0E1E0;
    position: relative;
}

.project-img {
    width: 470px;
    height: 283px;
    object-fit: cover;
    object-position: center;
}

.project:hover .project-links {
    opacity: 1;
}

.project h2 {
    text-transform: uppercase;
}

.project-content {
    max-width: 235px;
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: absolute;
    left: 149px;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.link {
    width: 72px;
    height: 37px;
    padding: 2px 3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1E1E1E;
}

.github {
    background-color: #1E1E1E;
    color: #E0E1E0;
}

.netlify {
    background-color: #E0E1E0;
    color: #1E1E1E;
}

#person-with-ntb {
    position: absolute;
    top: 680px;
    right: 20px;
}

button {
    width: 118px;
    height: 54px;
    color: #1E1E1E;
    background-color: #E0E1E0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border: 3px solid #1E1E1E;
    box-shadow: -3px 2px 0px rgba(30, 30, 30, 0.8);
    cursor: pointer;
}

button:hover {
    box-shadow: -3px 2px 0px rgba(30, 30, 30, 0);
}
