#content {
    background-color: #AF71BA;
    padding: clamp(50px, 11vh, 110px) 24px;
    position: relative;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #E0E1E0;
}

.project-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: clamp(290px, 31vw, 680px);
    height: clamp(200px, 17vw, 400px);
    position: relative;
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover .project-links {
    opacity: 1;
}

.link {
    width: 72px;
    height: 37px;
    padding: 2px 3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1E1E1E;
}

.github {
    background-color: #1E1E1E;
    color: #E0E1E0;
}

.netlify {
    background-color: #E0E1E0;
    color: #1E1E1E;
}

.project-content {
    max-width: 300px;
}

.project h2 {
    text-transform: uppercase;
    font-size: clamp(20px, 3.2vw, 24px);
}

.project-content h3 {
    font-size: clamp(16px, 2.8vw, 20px);
}

.project-content p {
    font-size: clamp(14px, 1.2vw, 16px);
}


#person-with-ntb {
    width: clamp(80px, 14vw, 200px);
    position: absolute;
    top: 650px;
    right: 20px;
}

button {
    width: 118px;
    height: 54px;
    color: #1E1E1E;
    background-color: #E0E1E0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border: 3px solid #1E1E1E;
    box-shadow: -3px 2px 0px rgba(30, 30, 30, 0.8);
    cursor: pointer;
}

button:hover {
    box-shadow: -3px 2px 0px rgba(30, 30, 30, 0);
}


@media screen and (max-width: 795px) {
    #person-with-ntb {
        display: none;
    }

    #content {
        position: static;
    }
}