.container-tech  {
    background-color: #E0E1E0;
    padding: clamp(50px, 11vh, 110px) 24px;
}

.subtitle {
    font-weight: 700;
    font-size: clamp(50px, 15vw, 180px);
    color: #1A1A1A;
    text-transform: uppercase;
    letter-spacing: -3px;
    line-height: 0.8;
}

.content-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.rectangle {
    background-color: #fff;
    width: 90vw;
    padding: 9% 5% 12% 5%;
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 18%);
    grid-template-rows: repeat(3, 35%);
    place-items: center;
    gap: 10%;
    position: relative;
}

.skills {
    font-family: "Lekton", monospace;
    font-weight: 700;
    font-size: clamp(12px, 4.5vw, 80px);
    text-transform: uppercase;
    z-index: 2;
}

.road-map {
    width: clamp(80px, 100%, 1200px);
    height: auto;
    z-index: 1;
    top: 3px;
    position: absolute;
}
